.idea/
.DS_Store

_image-feature-extraction/
_test_images/
_watson-waste-sorter/

# Ignore all recycling raw data
/classify_trash/data

# Ignore all recycling formatted data 
!/classify_trash/output/.gitkeep
/classify_trash/output

# Ignore all images that are not the client image
!/images/client_image.jpeg
/images/
/training_vectors/
/retraining_images/
/retraining_test_images/
/retraining_test_images_Lisa/

# Ignore exploratory notebooks
notebooks/

apiKey.json

venv/

*.pyc
__pycache__
